@charset "utf-8";
@import "../../ui/input.scss";
//下拉组件
$selectOptionBg:#e4e8f1;
.select{
  @extend .flex-column;
  position: relative;
  .icon-arrow{
    @include prefix(transition,all 0.3s ease);
    @include prefix(transform,rotate(0deg));
  }
  > .input-icon{
    width:100%;
    .input[readonly]{
      color: map_get($baseColor,dark);
    }
    .icon{
      top:remToPx(0.35rem);
    }
  }
  .select-options{
    position: absolute;
    left:remToPx(0.2rem);
    right:remToPx(0.2rem);
    top:remToPx(1.7rem);
    //设置缩放起始点
    @include prefix(transform-origin,center top);
    &.up{
      top:auto;
      bottom:remToPx(1.7rem);
      @include prefix(transform-origin,center bottom);
    }
    list-style: none;
    padding:0;
    margin:0;
    max-height:remToPx(15rem);
    display: none;
    overflow-y: auto;
    border:1px solid $borderColor;
    background-color: map_get($baseColor,white);
    z-index: 400;
    li{
      cursor: default;
      padding:remToPx(0.3rem 0.2rem);
      ~li{
        border-top:1px solid $borderColor;
      }
      &:hover{
        background-color:$selectOptionBg;
      }
      &.active{
        background-color: map_get($baseColor,light-blue);
        color: map_get($baseColor,white);
      }
    }
    @include prefix(border-radius,remToPx(0.2rem));
    @include prefix(transition,all 0.4s ease);
  }
  &.open{
    .select-options{
      display: block;
      @include prefix(animation,selectOpen 0.2s ease);
    }
    .icon-arrow{
      @include prefix(transform,rotate(180deg));
    }
  }
}
@include keyframes(selectOpen){
  from{
    -webkit-transform: scaleY(0) scaleZ(0);
    -moz-transform: scaleY(0) scaleZ(0);
    -ms-transform: scaleY(0) scaleZ(0);
    -o-transform: scaleY(0) scaleZ(0);
    transform: scaleY(0) scaleZ(0);
  }
  to{
    -webkit-transform: scaleY(1) scaleZ(1);
    -moz-transform: scaleY(1) scaleZ(1);
    -ms-transform: scaleY(1) scaleZ(1);
    -o-transform: scaleY(1) scaleZ(1);
    transform: scaleY(1) scaleZ(1);
  }
}