html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','PingFang SC','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex
}

* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    width: 100%;
    height: 100%;
    font-size: .7rem;
    margin: 0
}

a,a:active,a:hover,a:link,a:visited {
    text-decoration: none
}

.hidden {
    display: none
}

.ie-lt {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    padding: .8rem 1rem;
    text-align: center;
    font-size: 1rem;
    background-color: #ddf3f5;
    color: #ff4949;
    display: block
}

.flex,.loading-plugin .loading-container,.loading-plugin .modal {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: box
}

.flex-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1
}

.flex-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2
}

.flex-3 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-box-flex: 3;
    -moz-box-flex: 3
}

.flex-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical
}

.align-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -moz-box-align: start;
    -webkit-box-align: start;
    box-align: start
}

.align-center,.loading-plugin .loading-container,.loading-plugin .modal {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center
}

.align-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -moz-box-align: end;
    -webkit-box-align: end;
    box-align: end
}

.justify-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start
}

.justify-center,.loading-plugin .modal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center
}

.justify-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-box-lines: multiple;
    box-lines: multiple
}

.line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all
}

.line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all
}

.line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all
}

.btn {
    cursor: pointer;
    text-align: center;
    padding: .4rem .8rem;
    vertical-align: middle;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -o-border-radius: .2rem;
    -ms-border-radius: .2rem;
    border-radius: .2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid #bfcbd9;
    background-color: transparent;
    color: #353535;
    display: inline-block;
    white-space: nowrap;
    -webkit-appearance: none
}

.btn:focus,.btn:hover {
    background-color: #dedede;
    border-color: #a1a1a1
}

.btn.disabled,.btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn.disabled :focus,.btn.disabled:hover,.btn[disabled] :focus,.btn[disabled]:hover {
    color: #aaa;
    text-decoration: none
}

.btn-primary {
    background-color: #3280fc;
    border-color: #1970fc;
    color: #fff
}

.btn-primary:focus,.btn-primary:hover {
    background-color: #0a67fb;
    border-color: #0354d4;
    color: #fff
}

.btn-info {
    background-color: #03b8cf;
    border-color: #03a2b6;
    color: #fff
}

.btn-info:focus,.btn-info:hover {
    background-color: #0294a7;
    border-color: #026c7a;
    color: #fff
}

.btn-success {
    background-color: #13ce66;
    border-color: #329d38;
    color: #fff
}

.btn-success:focus,.btn-success:hover {
    background-color: #2e9134;
    border-color: #236e27;
    color: #fff
}

.btn-warning {
    background-color: #f7ba2a;
    border-color: #ed980f;
    color: #fff
}

.btn-warning:focus,.btn-warning:hover {
    background-color: #df8f0e;
    border-color: #b4730c;
    color: #fff
}

.btn-danger {
    background-color: #ff4949;
    border-color: #e64525;
    color: #fff
}

.btn-danger:focus,.btn-danger:hover {
    background-color: #c63317;
    border-color: #c62817;
    color: #fff
}

.btn-link {
    color: #145ccd;
    background: 0 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.btn-link:focus,.btn-link:hover {
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.btn-block {
    display: block;
    width: 100%
}

@font-face {
    font-family:iconfont;src:url("./../package/ui/iconfont/iconfont.eot?t=1495448376285");src:url("./../package/ui/iconfont/iconfont.eot?t=1495448376285#iefix") format("embedded-opentype"),url("./../package/ui/iconfont/iconfont.woff?t=1495448376285") format("woff"),url("./../package/ui/iconfont/iconfont.ttf?t=1495448376285") format("truetype"),url("./../package/ui/iconfont/iconfont.svg?t=1495448376285#iconfont") format("svg")
}

.icon,.login-card .input-box:before,[class*=icon-] {
    font-family: iconfont!important;
    font-size: .8rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-warning:before {
    content: "\e6b6"
}

.icon-info:before {
    content: "\e606"
}

.icon-error:before {
    content: "\e668"
}

.icon-success:before {
    content: "\e641"
}

.icon-close:before {
    content: "\e601"
}

.icon-arrow:before {
    content: "\e6b7"
}

.icon-arrow-right {
    content: "\e6b8"
}

.icon-menu:before {
    content: "\e6a0"
}

.icon-user-name:before,.login-card .input-box.user-name:before {
    content: "\e6f6"
}

.icon-password:before,.login-card .input-box.password:before {
    content: "\e669"
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: block
}

.modal.fade {
    opacity: 0
}

.modal.fade.in {
    opacity: 1
}

.fade {
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    -ms-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.fade.in {
    opacity: .5
}

.modal.fade .dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out,-o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    -webkit-transform: translate3d(0,-25%,0);
    -ms-transform: translate3d(0,-25%,0);
    -o-transform: translate3d(0,-25%,0);
    transform: translate3d(0,-25%,0)
}

.modal.in .dialog {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.dialog {
    display: block;
    min-width: 10rem;
    max-width: 30rem;
    margin: 1.5rem auto;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -ms-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: relative;
    width: auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5)
}

.dialog .dialog-header {
    display: block;
    min-height: .827rem;
    padding: .75rem;
    border-bottom: 1px solid #e5e5e5
}

.dialog .dialog-header .dialog-icon {
    position: absolute;
    left: .4rem;
    top: .9rem
}

.dialog .dialog-header .dialog-icon~.dialog-title {
    padding-left: .6rem
}

.dialog .dialog-header .dialog-title {
    line-height: 1.53846154;
    font-size: .8rem
}

.dialog .dialog-header .dialog-close {
    position: absolute;
    right: .75rem;
    top: .8rem;
    cursor: pointer
}

.dialog .dialog-header .dialog-close:before {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out,-o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.dialog .dialog-header .dialog-close:hover:before {
    font-weight: 700;
    color: #1f2d3d;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.dialog .dialog-header.dialog-moveable {
    cursor: move
}

.dialog .dialog-content {
    display: block;
    position: relative;
    padding: 15px
}

.dialog .dialog-footer {
    display: block;
    padding: .75rem;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.dialog.sm {
    width: 15rem
}

.dialog.lg {
    width: 45rem
}

.dialog.full {
    position: relative;
    width: 100%!important;
    height: 100%!important;
    margin: 0;
    border-radius: 0
}

@media (max-width:767px) {
    .dialog.sm {
        width: 160px
    }

    .dialog.lg {
        width: 480px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .dialog.sm {
        width: 220px
    }

    .dialog.lg {
        width: 660px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .dialog.sm {
        width: 260px
    }

    .dialog.lg {
        width: 780px
    }
}

@media (min-width:1200px) {
    .dialog.sm {
        width: 300px
    }

    .dialog.lg {
        width: 900px
    }
}

.loading {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    position: relative
}

.loading_0 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_1@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s
}

.loading_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_2@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 80ms;
    -moz-animation-delay: 80ms;
    -o-animation-delay: 80ms;
    -ms-animation-delay: 80ms;
    animation-delay: 80ms
}

.loading_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_3@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 160ms;
    -moz-animation-delay: 160ms;
    -o-animation-delay: 160ms;
    -ms-animation-delay: 160ms;
    animation-delay: 160ms
}

.loading_3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_4@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 240ms;
    -moz-animation-delay: 240ms;
    -o-animation-delay: 240ms;
    -ms-animation-delay: 240ms;
    animation-delay: 240ms
}

.loading_4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_5@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 320ms;
    -moz-animation-delay: 320ms;
    -o-animation-delay: 320ms;
    -ms-animation-delay: 320ms;
    animation-delay: 320ms
}

.loading_5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_6@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s
}

.loading_6 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_7@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 480ms;
    -moz-animation-delay: 480ms;
    -o-animation-delay: 480ms;
    -ms-animation-delay: 480ms;
    animation-delay: 480ms
}

.loading_7 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_8@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 560ms;
    -moz-animation-delay: 560ms;
    -o-animation-delay: 560ms;
    -ms-animation-delay: 560ms;
    animation-delay: 560ms
}

.loading_8 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_9@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 640ms;
    -moz-animation-delay: 640ms;
    -o-animation-delay: 640ms;
    -ms-animation-delay: 640ms;
    animation-delay: 640ms
}

.loading_9 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_10@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 720ms;
    -moz-animation-delay: 720ms;
    -o-animation-delay: 720ms;
    -ms-animation-delay: 720ms;
    animation-delay: 720ms
}

.loading_10 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_11@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    -ms-animation-delay: .8s;
    animation-delay: .8s
}

.loading_11 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_12@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 880ms;
    -moz-animation-delay: 880ms;
    -o-animation-delay: 880ms;
    -ms-animation-delay: 880ms;
    animation-delay: 880ms
}

.loading_12 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_13@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 960ms;
    -moz-animation-delay: 960ms;
    -o-animation-delay: 960ms;
    -ms-animation-delay: 960ms;
    animation-delay: 960ms
}

.loading_13 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_14@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    animation-delay: 1.04s
}

.loading_14 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_15@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.12s;
    -moz-animation-delay: 1.12s;
    -o-animation-delay: 1.12s;
    -ms-animation-delay: 1.12s;
    animation-delay: 1.12s
}

.loading_15 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_16@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.loading_16 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_17@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.28s;
    -moz-animation-delay: 1.28s;
    -o-animation-delay: 1.28s;
    -ms-animation-delay: 1.28s;
    animation-delay: 1.28s
}

.loading_17 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_18@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.36s;
    -moz-animation-delay: 1.36s;
    -o-animation-delay: 1.36s;
    -ms-animation-delay: 1.36s;
    animation-delay: 1.36s
}

.loading_18 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_19@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.44s;
    -moz-animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    animation-delay: 1.44s
}

.loading_19 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_20@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    animation-delay: 1.52s
}

.loading_20 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_21@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.loading_21 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_22@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.68s;
    -moz-animation-delay: 1.68s;
    -o-animation-delay: 1.68s;
    -ms-animation-delay: 1.68s;
    animation-delay: 1.68s
}

.loading_22 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_23@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.76s;
    -moz-animation-delay: 1.76s;
    -o-animation-delay: 1.76s;
    -ms-animation-delay: 1.76s;
    animation-delay: 1.76s
}

.loading_23 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_24@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.84s;
    -moz-animation-delay: 1.84s;
    -o-animation-delay: 1.84s;
    -ms-animation-delay: 1.84s;
    animation-delay: 1.84s
}

.loading_24 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin-right: 1rem;
    background-image: url("./../package/plugin/loading/images/loading_white_25@2x.png");
    visibility: hidden;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    -o-animation: loading 2s infinite linear;
    -ms-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    -webkit-animation-delay: 1.92s;
    -moz-animation-delay: 1.92s;
    -o-animation-delay: 1.92s;
    -ms-animation-delay: 1.92s;
    animation-delay: 1.92s
}

.loading_0 {
    visibility: hidden
}

@-webkit-keyframes loading {
    0% {
        visibility: hidden
    }

    4% {
        visibility: visible
    }

    8% {
        visibility: hidden
    }

    100% {
        visibility: hidden
    }
}

@-moz-keyframes loading {
    0% {
        visibility: hidden
    }

    4% {
        visibility: visible
    }

    8% {
        visibility: hidden
    }

    100% {
        visibility: hidden
    }
}

@-o-keyframes loading {
    0% {
        visibility: hidden
    }

    4% {
        visibility: visible
    }

    8% {
        visibility: hidden
    }

    100% {
        visibility: hidden
    }
}

@keyframes loading {
    0% {
        visibility: hidden
    }

    4% {
        visibility: visible
    }

    8% {
        visibility: hidden
    }

    100% {
        visibility: hidden
    }
}

.loading-plugin .modal-backdrop {
    background-color: #6950ee
}

.loading-plugin .loading-container .loading-package {
    color: #fff;
    letter-spacing: .1rem;
    font-size: 1.2rem
}

.loading-plugin .loading-container .loading-package .dot-0 {
    opacity: 0;
    -webkit-animation: dotShow 2s infinite linear;
    -moz-animation: dotShow 2s infinite linear;
    -o-animation: dotShow 2s infinite linear;
    -ms-animation: dotShow 2s infinite linear;
    animation: dotShow 2s infinite linear;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s
}

.loading-plugin .loading-container .loading-package .dot-1 {
    opacity: 0;
    -webkit-animation: dotShow 2s infinite linear;
    -moz-animation: dotShow 2s infinite linear;
    -o-animation: dotShow 2s infinite linear;
    -ms-animation: dotShow 2s infinite linear;
    animation: dotShow 2s infinite linear;
    -webkit-animation-delay: 80ms;
    -moz-animation-delay: 80ms;
    -o-animation-delay: 80ms;
    -ms-animation-delay: 80ms;
    animation-delay: 80ms
}

.loading-plugin .loading-container .loading-package .dot-2 {
    opacity: 0;
    -webkit-animation: dotShow 2s infinite linear;
    -moz-animation: dotShow 2s infinite linear;
    -o-animation: dotShow 2s infinite linear;
    -ms-animation: dotShow 2s infinite linear;
    animation: dotShow 2s infinite linear;
    -webkit-animation-delay: 160ms;
    -moz-animation-delay: 160ms;
    -o-animation-delay: 160ms;
    -ms-animation-delay: 160ms;
    animation-delay: 160ms
}

@-webkit-keyframes dotShow {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    60% {
        opacity: 0
    }
}

@-moz-keyframes dotShow {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    60% {
        opacity: 0
    }
}

@-o-keyframes dotShow {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    60% {
        opacity: 0
    }
}

@keyframes dotShow {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    60% {
        opacity: 0
    }
}

@media screen and (max-width:400px) {
    .loading-package {
        display: none
    }

    .loading-container .loading {
        margin-right: 0
    }
}

.login-card {
    background: rgba(21,21,21,.5);
    background: -webkit-gradient(radial,50% 50%,0,50% 50%,150,from(rgba(36,36,36,.5)),to(#090909));
    background: radial-gradient(circle,rgba(36,36,36,.5),#090909);
    background: -ms-radial-gradient(circle,rgba(36,36,36,.5),#090909);
    background: -moz-radial-gradient(circle,rgba(36,36,36,.5),#090909);
    background: -o-radial-gradient(circle,rgba(36,36,36,.5),#090909);
    background: -webkit-radial-gradient(circle,rgba(36,36,36,.5),#090909);
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -o-border-radius: .25rem;
    -ms-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-box-shadow: 0 0 .7rem rgba(255,255,255,.2);
    -moz-box-shadow: 0 0 .7rem rgba(255,255,255,.2);
    -o-box-shadow: 0 0 .7rem rgba(255,255,255,.2);
    -ms-box-shadow: 0 0 .7rem rgba(255,255,255,.2);
    box-shadow: 0 0 .7rem rgba(255,255,255,.2);
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    margin-top: -10rem;
    left: 50%;
    margin-left: -10rem
}

.login-card .header {
    padding: 1rem 0;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    border-bottom: 1px solid #e3e3e3
}

.login-card .input-box {
    margin-top: 1.25rem
}

.login-card .input-box:before {
    position: absolute;
    color: #fff;
    margin-top: .6rem;
    margin-left: .5rem
}

.login-card .input-box.focus:before {
    color: #bd7b46
}

.login-card .input-box input {
    width: 100%;
    background: rgba(17,17,17,.2);
    padding: 0 1rem 0 2.25rem;
    border-radius: 1rem;
    border: none;
    transition: all .3s ease 0s;
    font-size: .7rem;
    line-height: 1.42857143;
    color: #555;
    height: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.login-card .input-box input:focus {
    background: rgba(17,17,17,.8)
}

.login-card .input-box .main-checkbox {
    width: 1rem;
    height: 1rem;
    background: #11a3fc;
    border-radius: 50%;
    position: relative;
    margin: 0 0 0 .25rem;
    border: 1px solid #11a3fc
}

.login-card .input-box .main-checkbox label {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer
}

.login-card .input-box .main-checkbox label:after {
    content: "";
    width: .5rem;
    height: .25rem;
    position: absolute;
    top: .25rem;
    left: .2rem;
    border: .15rem solid #fff;
    border-top: none;
    border-right: none;
    background: 0 0;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.login-card .input-box .main-checkbox input[type=checkbox] {
    visibility: hidden
}

.login-card .input-box .main-checkbox input[type=checkbox]:checked+label:after {
    opacity: 1
}

.login-card .input-box .save-text {
    color: #fff;
    font-size: .8rem;
    margin-left: .2rem
}

.login-card .input-box .btn-info {
    background: #00b4ef;
    border-radius: 1.5rem;
    padding: .5rem 1.25rem;
    border: none;
    text-transform: capitalize;
    transition: all .5s ease 0s
}

.login-card .login-form {
    padding: 0 1rem
}

.login-card.focus {
    -webkit-animation: colors 20s infinite linear;
    -moz-animation: colors 20s infinite linear;
    -o-animation: colors 20s infinite linear;
    -ms-animation: colors 20s infinite linear;
    animation: colors 20s infinite linear
}

@-webkit-keyframes colors {
    0% {
        -webkit-box-shadow: 0 0 .7rem #f246c9;
        -moz-box-shadow: 0 0 .7rem #f246c9;
        -o-box-shadow: 0 0 .7rem #f246c9;
        -ms-box-shadow: 0 0 .7rem #f246c9;
        box-shadow: 0 0 .7rem #f246c9
    }

    17% {
        -webkit-box-shadow: 0 0 .7rem #4453f2;
        -moz-box-shadow: 0 0 .7rem #4453f2;
        -o-box-shadow: 0 0 .7rem #4453f2;
        -ms-box-shadow: 0 0 .7rem #4453f2;
        box-shadow: 0 0 .7rem #4453f2
    }

    34% {
        -webkit-box-shadow: 0 0 .7rem #44f262;
        -moz-box-shadow: 0 0 .7rem #44f262;
        -o-box-shadow: 0 0 .7rem #44f262;
        -ms-box-shadow: 0 0 .7rem #44f262;
        box-shadow: 0 0 .7rem #44f262
    }

    51% {
        -webkit-box-shadow: 0 0 .7rem #f257d4;
        -moz-box-shadow: 0 0 .7rem #f257d4;
        -o-box-shadow: 0 0 .7rem #f257d4;
        -ms-box-shadow: 0 0 .7rem #f257d4;
        box-shadow: 0 0 .7rem #f257d4
    }

    68% {
        -webkit-box-shadow: 0 0 .7rem #edf255;
        -moz-box-shadow: 0 0 .7rem #edf255;
        -o-box-shadow: 0 0 .7rem #edf255;
        -ms-box-shadow: 0 0 .7rem #edf255;
        box-shadow: 0 0 .7rem #edf255
    }

    85% {
        -webkit-box-shadow: 0 0 .7rem #f20006;
        -moz-box-shadow: 0 0 .7rem #f20006;
        -o-box-shadow: 0 0 .7rem #f20006;
        -ms-box-shadow: 0 0 .7rem #f20006;
        box-shadow: 0 0 .7rem #f20006
    }

    100% {
        -webkit-box-shadow: 0 0 .7rem #39f;
        -moz-box-shadow: 0 0 .7rem #39f;
        -o-box-shadow: 0 0 .7rem #39f;
        -ms-box-shadow: 0 0 .7rem #39f;
        box-shadow: 0 0 .7rem #39f
    }
}

@-moz-keyframes colors {
    0% {
        -webkit-box-shadow: 0 0 .7rem #f246c9;
        -moz-box-shadow: 0 0 .7rem #f246c9;
        -o-box-shadow: 0 0 .7rem #f246c9;
        -ms-box-shadow: 0 0 .7rem #f246c9;
        box-shadow: 0 0 .7rem #f246c9
    }

    17% {
        -webkit-box-shadow: 0 0 .7rem #4453f2;
        -moz-box-shadow: 0 0 .7rem #4453f2;
        -o-box-shadow: 0 0 .7rem #4453f2;
        -ms-box-shadow: 0 0 .7rem #4453f2;
        box-shadow: 0 0 .7rem #4453f2
    }

    34% {
        -webkit-box-shadow: 0 0 .7rem #44f262;
        -moz-box-shadow: 0 0 .7rem #44f262;
        -o-box-shadow: 0 0 .7rem #44f262;
        -ms-box-shadow: 0 0 .7rem #44f262;
        box-shadow: 0 0 .7rem #44f262
    }

    51% {
        -webkit-box-shadow: 0 0 .7rem #f257d4;
        -moz-box-shadow: 0 0 .7rem #f257d4;
        -o-box-shadow: 0 0 .7rem #f257d4;
        -ms-box-shadow: 0 0 .7rem #f257d4;
        box-shadow: 0 0 .7rem #f257d4
    }

    68% {
        -webkit-box-shadow: 0 0 .7rem #edf255;
        -moz-box-shadow: 0 0 .7rem #edf255;
        -o-box-shadow: 0 0 .7rem #edf255;
        -ms-box-shadow: 0 0 .7rem #edf255;
        box-shadow: 0 0 .7rem #edf255
    }

    85% {
        -webkit-box-shadow: 0 0 .7rem #f20006;
        -moz-box-shadow: 0 0 .7rem #f20006;
        -o-box-shadow: 0 0 .7rem #f20006;
        -ms-box-shadow: 0 0 .7rem #f20006;
        box-shadow: 0 0 .7rem #f20006
    }

    100% {
        -webkit-box-shadow: 0 0 .7rem #39f;
        -moz-box-shadow: 0 0 .7rem #39f;
        -o-box-shadow: 0 0 .7rem #39f;
        -ms-box-shadow: 0 0 .7rem #39f;
        box-shadow: 0 0 .7rem #39f
    }
}

@-o-keyframes colors {
    0% {
        -webkit-box-shadow: 0 0 .7rem #f246c9;
        -moz-box-shadow: 0 0 .7rem #f246c9;
        -o-box-shadow: 0 0 .7rem #f246c9;
        -ms-box-shadow: 0 0 .7rem #f246c9;
        box-shadow: 0 0 .7rem #f246c9
    }

    17% {
        -webkit-box-shadow: 0 0 .7rem #4453f2;
        -moz-box-shadow: 0 0 .7rem #4453f2;
        -o-box-shadow: 0 0 .7rem #4453f2;
        -ms-box-shadow: 0 0 .7rem #4453f2;
        box-shadow: 0 0 .7rem #4453f2
    }

    34% {
        -webkit-box-shadow: 0 0 .7rem #44f262;
        -moz-box-shadow: 0 0 .7rem #44f262;
        -o-box-shadow: 0 0 .7rem #44f262;
        -ms-box-shadow: 0 0 .7rem #44f262;
        box-shadow: 0 0 .7rem #44f262
    }

    51% {
        -webkit-box-shadow: 0 0 .7rem #f257d4;
        -moz-box-shadow: 0 0 .7rem #f257d4;
        -o-box-shadow: 0 0 .7rem #f257d4;
        -ms-box-shadow: 0 0 .7rem #f257d4;
        box-shadow: 0 0 .7rem #f257d4
    }

    68% {
        -webkit-box-shadow: 0 0 .7rem #edf255;
        -moz-box-shadow: 0 0 .7rem #edf255;
        -o-box-shadow: 0 0 .7rem #edf255;
        -ms-box-shadow: 0 0 .7rem #edf255;
        box-shadow: 0 0 .7rem #edf255
    }

    85% {
        -webkit-box-shadow: 0 0 .7rem #f20006;
        -moz-box-shadow: 0 0 .7rem #f20006;
        -o-box-shadow: 0 0 .7rem #f20006;
        -ms-box-shadow: 0 0 .7rem #f20006;
        box-shadow: 0 0 .7rem #f20006
    }

    100% {
        -webkit-box-shadow: 0 0 .7rem #39f;
        -moz-box-shadow: 0 0 .7rem #39f;
        -o-box-shadow: 0 0 .7rem #39f;
        -ms-box-shadow: 0 0 .7rem #39f;
        box-shadow: 0 0 .7rem #39f
    }
}

@keyframes colors {
    0% {
        -webkit-box-shadow: 0 0 .7rem #f246c9;
        -moz-box-shadow: 0 0 .7rem #f246c9;
        -o-box-shadow: 0 0 .7rem #f246c9;
        -ms-box-shadow: 0 0 .7rem #f246c9;
        box-shadow: 0 0 .7rem #f246c9
    }

    17% {
        -webkit-box-shadow: 0 0 .7rem #4453f2;
        -moz-box-shadow: 0 0 .7rem #4453f2;
        -o-box-shadow: 0 0 .7rem #4453f2;
        -ms-box-shadow: 0 0 .7rem #4453f2;
        box-shadow: 0 0 .7rem #4453f2
    }

    34% {
        -webkit-box-shadow: 0 0 .7rem #44f262;
        -moz-box-shadow: 0 0 .7rem #44f262;
        -o-box-shadow: 0 0 .7rem #44f262;
        -ms-box-shadow: 0 0 .7rem #44f262;
        box-shadow: 0 0 .7rem #44f262
    }

    51% {
        -webkit-box-shadow: 0 0 .7rem #f257d4;
        -moz-box-shadow: 0 0 .7rem #f257d4;
        -o-box-shadow: 0 0 .7rem #f257d4;
        -ms-box-shadow: 0 0 .7rem #f257d4;
        box-shadow: 0 0 .7rem #f257d4
    }

    68% {
        -webkit-box-shadow: 0 0 .7rem #edf255;
        -moz-box-shadow: 0 0 .7rem #edf255;
        -o-box-shadow: 0 0 .7rem #edf255;
        -ms-box-shadow: 0 0 .7rem #edf255;
        box-shadow: 0 0 .7rem #edf255
    }

    85% {
        -webkit-box-shadow: 0 0 .7rem #f20006;
        -moz-box-shadow: 0 0 .7rem #f20006;
        -o-box-shadow: 0 0 .7rem #f20006;
        -ms-box-shadow: 0 0 .7rem #f20006;
        box-shadow: 0 0 .7rem #f20006
    }

    100% {
        -webkit-box-shadow: 0 0 .7rem #39f;
        -moz-box-shadow: 0 0 .7rem #39f;
        -o-box-shadow: 0 0 .7rem #39f;
        -ms-box-shadow: 0 0 .7rem #39f;
        box-shadow: 0 0 .7rem #39f
    }
}

@media only screen and (max-width:400px) {
    .login-card {
        width: 90%;
        height: 15rem;
        margin-left: 0;
        left: 5%
    }
}

.package-name {
    margin: 0 .05rem;
    text-shadow: 2px 0 1px #083058,0 2px 1px #98c0e8,2px 1px 1px #083058,1px 2px 1px #98c0e8,2px 2px 1px #487098,3px 1px 1px #083058,1px 3px 1px #98c0e8,3px 2px 1px #083058,2px 3px 1px #98c0e8,3px 3px 1px #487098,4px 2px 1px #083058,2px 4px 1px #98c0e8
}